body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.scorecard {
  width: 95%;
  margin: 20px auto;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.wide {
  min-width: 6em !important;
}

.na {
  background-color: rgb(136, 136, 136);
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

h1 select {
  padding: 0.5em 0em 0.5em 0.7em;
  font-family: Arial, sans-serif;
  font-size: 0.6em;
  font-weight: 500;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f1f1f1;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  max-width: 40px;
}

th {
  font-weight: bold;
  vertical-align: bottom;
  vertical-align: top;
}

th.rotate {
  transform: rotate(-70deg);
  height: 180px;
  vertical-align: middle;
  text-align: start;
  white-space: nowrap;
  overflow: auto;
  position: relative;
  top: 2.7em;
  right: 1em;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  color: #333;
}

td.red {
  background-color: rgba(241, 161, 164, 0.5);
}

td.green {
  background-color: rgba(171, 241, 203, 0.5);
}

td.gray {
  background-color: rgba(189, 189, 189, 0.5);
  opacity: 0.5;
}

td.escape_color {
  background-color: rgba(0, 0, 0, 0) !important;
}