body {
    font-family: Arial, sans-serif;
}
.page-title {
    text-align: center;
    margin-bottom: 20px;
}
.container {
    width: 400px;
    margin: 10px auto 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.view-selection{
    width: 800px;
    margin: 10px auto 0 auto;
    padding: 20px;
}
.container h4 {
    text-align: center;
    margin-bottom: 10px;
}
.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.input-group label {
    flex-shrink: 0;
    min-width: 75px;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
}
.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.input-group-inline {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items:center;
}
.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #0056b3;
}
.view-selection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.view-selection button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.view-selection button:hover {
    background-color: #0056b3;
}
.view-message {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

.datetime-selectors {
    display: flex;
    gap: 5px;
    align-items: center;
}
.time-select {
    width: 30px; /* Narrower width for time selectors */
    font-size: 12px;
    padding: 0px;
    box-sizing: border-box;
}

.to-text {
    font-weight: bold;
    margin: 0px 0;
}

.view-message{
    height: 500px;
    vertical-align: center;
}

input[type="date"]{
    width:150px;
    padding:4px;
    font-size: 14px;
    box-sizing: border-box;
}

.headcount-table{
    padding: 50px;
    width:100%;
    

}
.throughput-table{
    padding: 50px;
    width:100%;

}
.assumption-table{
    padding: 50px;
    width:50%;
    align-self: left;
}

.headcount-table tr td:first-child, .headcount-table tr th:first-child{
    width:300px;
}

.headcount-table tr td:not(:first-child), .headcount-table tr th:not(:first-child){
    width:50px;
}

.assumption-table tr td:first-child, .assumption-table tr th:first-child{
    width:300px;
}

.assumption-table tr td:not(:first-child), .assumption-table tr th:not(:first-child){
    width:50px;
}

.throughput-table tr td:first-child, .throughput-table tr th:first-child{
    width:300px;
}

.throughput-table tr td:not(:first-child), .throughput-table tr th:not(:first-child){
    width:50px;
}

