/* Basic Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main {
  flex: 1;
  overflow: auto;
  width: 100vw;
  margin-bottom: 1rem;
}

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

footer p{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.3rem 0;
}